<!DOCTYPE html>
<html>
<head>
  <title>HornetFragments</title>
  <%= stylesheet_link_tag    "hornet_fragments/application", :media => "all" %>
  <%= javascript_include_tag "hornet_fragments/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
